:root {
    --bright-yellow-crayola: hsl(40, 100%, 50%);
    --medium-turquoise: hsl(172, 48%, 59%);
    --silver-chalice: hsl(0, 0%, 70%);
    --eerie-black-1: hsl(0, 0%, 13%);
    --eerie-black-2: hsl(0, 0%, 15%);
    --eerie-black-3: hsl(228, 10%, 10%);
    --raisin-black: hsl(220, 8%, 14%);
    --granite-gray: hsl(0, 0%, 38%);
    --sonic-silver: hsl(0, 0%, 47%);
    --pistachio_50: hsla(86, 45%, 54%, 0.5);
    --baby-powder: hsl(86, 41%, 97%);
    --light-gray: hsl(0, 0%, 80%);
    --pistachio: hsl(86, 45%, 54%);
      }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
      font-family: sans-serifs;}
      body{
        background-color: var(--raisin-black);
      }


.About-us{
    position: absolute;
    margin-top: 100px;
    top: 80px;

}
.About-us h1{
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--medium-turquoise)
}
.About-us p{
    font-size: 20px;
    font-weight: 500;
    text-align: center;

}
.container1{
    width: 80%;
    margin: opx auto;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 140px;
}
.Mission{
    text-align: center;
    font-size: 20px;
    margin: 20px;
    background-color: #fff;
    padding: 30px 20px;
    cursor: pointer;
    border: 1px solid var(--pistachio) ;
    transition: 0.45s ease;
    
}
.Mission:hover{
    background-color: var(--medium-turquoise);
}
.Mission ion-icon{
    font-size: 48px;
    color: var(--medium-turquoise);
}
.Mission h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 28px;
}
@media screen and (max-width:768px){
    .container1{
        flex-direction: column;
        position: absolute;
        right: 50px;
    }
}
    
