

:root {
    --bright-yellow-crayola: hsl(40, 100%, 50%);
    --medium-turquoise: hsl(172, 48%, 59%);
    --silver-chalice: hsl(0, 0%, 70%);
    --eerie-black-1: hsl(0, 0%, 13%);
    --eerie-black-2: hsl(0, 0%, 15%);
    --eerie-black-3: hsl(228, 10%, 10%);
    --raisin-black: hsl(220, 8%, 14%);
    --granite-gray: hsl(0, 0%, 38%);
    --sonic-silver: hsl(0, 0%, 47%);
    --pistachio_50: hsla(86, 45%, 54%, 0.5);
    --baby-powder: hsl(86, 41%, 97%);
    --light-gray: hsl(0, 0%, 80%);
    --pistachio: hsl(86, 45%, 54%);
    --platinum: hsl(0, 0%, 91%);
    --cultured: hsl(0, 0%, 94%);
    --white-60: hsla(0, 0%, 100%, 0.6);
    --white_50: hsla(0, 0%, 100%, 0.5);
    --white_10: hsla(0, 0%, 100%, 0.1);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --jet: hsl(0, 0%, 18%);


    --ff-oswald: 'Oswald', sans-serif;
--ff-inter: 'Inter', sans-serif;
--ff-roboto: 'Roboto', sans-serif;
}
    
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../assets/images/bck.jpg);
    background-position: center;
    background-size: cover;
}
#content{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.text{
    margin-top: 120px;
    font-family: var(--ff-roboto);
    position: relative;
    width: 40%;

}



.text h2{
    color: var(--medium-turquoise);
    font-size: 60px;
    line-height: 0.9em;

}
.text p{
    color:white;
    font-size: 16px;
    line-height: 1em;
    font-weight: bold;
}
.text input{
    margin-top: 30px;
    width: 50%;
    border: none;
    padding: 15px;
    background-color: #eff1f1;
    cursor: pointer;
}

.btn{
    width: 100px;
    border-radius: 15px;
    margin-top: 10px;
}

.footer{
    margin-top: 70px;
}


@media screen and (max-width:765px){
    .text h2{
     font-size: 40px;
    }
    .text p{
        margin-top: 20px;
    }
    .footer{
        margin-top: 350px;
    }
}


        